.page-header
  %h1
    = @domain.name
    (<a href="#{@domain.url}">#{@domain.url}</a>)
%p
  = link_to "Back to Domains", domains_path, :class => "btn"
  = link_to "Edit this domain", edit_domain_path(@domain), :class => "btn"
%h2 Keywords
%p
  = link_to "New keyword", new_domain_keyword_path(@domain), :class => "btn primary"

- unless @domain.keywords.empty?
  %table.zebra-striped
    %thead
      %tr
        %th Term
        %th Rank
        %th Actions
    %tbody
      - @domain.keywords.each do |keyword|
        %tr
          %td= keyword.term
          %td= keyword.rank
          %td= link_to "Delete", domain_keyword_path(@domain, keyword), confirm: 'Are you sure?', method: :delete, :id => "delete_keyword_#{keyword.id}"
