= form_for([@domain, @keyword]) do |f|
  .clearfix
    = f.label :term
    .input
      = f.text_field :term
  .actions
    = f.submit "Save", :class => "btn primary"
    = link_to "Cancel", domain_path(@domain), :class => "btn"
    